body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  padding: 0em;
  margin: 0em;


}

nav a {
  text-decoration: none;
  padding: 1em;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}
